.step-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .label-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        font-weight: 400;
        font-size: 1.4rem;
        color: var(--primary-color);
      }

      .error-message {
        color: #ee374a;
        font-weight: 700;
        font-size: 1.4rem;
        margin-left: 1rem;
      }
    }

    input {
      padding: 1.5rem;
      border: 1px solid var(--light-gray);
      border-radius: 0.8rem;
      font-family: inherit;
      font-weight: 500;
      font-size: 1.6rem;
      color: var(--dark-blue);
      transition: border-color 0.3s ease;

      &::placeholder {
        color: var(--dark-gray);
      }

      &:focus {
        outline: none;
        border-color: var(--secondary-color);
      }

      &.error {
        border-color: #ee374a;
      }
    }
  }
}
