.step-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;

    label {
      font-weight: 500;
      font-size: 1.4rem;
      color: var(--primary-color);
    }

    input {
      padding: 1rem;
      border: 1px solid var(--light-gray);
      border-radius: 0.5rem;
      font-family: inherit;
      font-size: 1.4rem;
      transition: border-color 0.3s ease;

      &:focus {
        outline: none;
        border-color: var(--secondary-color);
      }

      &.error {
        border-color: red;
      }
    }

    .error-message {
      color: red;
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
  }
}
