/* Wrapper to center the form vertically and horizontally */
.center-wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--light-blue);
}

.multistep-container {
  width: 100%;
  height: 100%;
  max-width: 94rem;
  display: flex;
  background-color: var(--white);
  padding: 1.6rem;
  border-radius: 1rem;
  max-height: 60rem;
  margin-bottom: 1.6rem;
  box-shadow: 0rem 2.5rem 4rem -2rem rgba(0, 0, 0, 0.0951141);
}

.steps {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.step-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  letter-spacing: 0.05rem;
}

/* Sidebar navigation */
.sidebar {
  background-size: cover;
  background-position: center;

  /* Apply desktop background by default */
  background-image: url('../../assets/images/bg-sidebar-desktop.svg');
  padding: 4rem 3.2rem;
  border-radius: 1rem;
  color: var(--white);
  position: relative;
  width: 100%;
  max-width: 27.4rem;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.step-circle {
  background-color: transparent;
  color: var(--white);
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1.5rem;
  border: 1px solid var(--white);
}

.step-number {
  font-size: 1.2rem;
  color: #abbcff;
  margin-bottom: 0.3rem;
}

.step-title {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.step.active .step-circle {
  background-color: #bee2fd;
  color: var(--dark-blue);
  border: 1px solid #bee2fd;
  transition: all 0.3s ease;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;

  &.confirmed {
    margin: auto;
  }

  &.not-confirmed {
    padding: 4rem 0 1.6rem 1.6rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .multistep-container {
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    background-color: var(--light-blue);
    max-height: none;
    box-shadow: none;
  }

  .steps {
    flex-direction: row;
    justify-content: center;
  }

  .step-text {
    display: none;
  }

  .form-content {
    position: relative;
    padding: 2.4rem;
    margin: -6rem 2rem 0;
    width: auto;
    max-width: none;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0rem 2.5rem 4rem -2rem rgba(0, 0, 0, 0.0951141);

    &.confirmed {
      padding: 7.9rem 2.4rem;
      margin: -6rem 2rem 0;
    }

    &.not-confirmed {
      padding: 2.4rem;
    }
  }

  .sidebar {
    max-width: none;
    min-height: 17.2rem;
    background-image: url('../../assets/images/bg-sidebar-mobile.svg');
    border-radius: 0;
  }

  .center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
